<!DOCTYPE html>
<html lang="en" ng-app="CardsAgainstAssembly">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cards Against Coders™</title>
        <link rel="stylesheet" href="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    </head>
    <body>
      <div class="container">
        <header class="navbar" ng-controller="headerController as headerCtrl">
          <h1 class="pull-left">{{ headerCtrl.title }}</h1>
        </header>

         <nav class="tabs">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">MENU
          </button>
          <div class="collapse" id="collapseExample">
            <div class="well">
              <a ui-sref-active="active" ui-sref="home">Home </a>
              <a ui-sref-active="active" ui-sref="new"> Add a New Card</a>
              <a ui-sref-active="active" ui-sref="rules"> About</a>
              <a ui-sref-active="active" ui-sref="contact"> Contact</a>

            </div>
          </div>
        </nav>


        <div ui-view> </div>

      <footer >
        <h6>Follow on <a href="http://twitter.com/marcoapineda13">twitter</a></h6>
        <p>Made with <span class="heart">♥︎</span> in Austin, TX</p>
      </footer>
      <script src='https://code.jquery.com/jquery-2.2.0.min.js'> </script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
      <script src="/javascripts/app.js"></script>
      <script src="/javascripts/controllers/cardsController.js"></script>
      <script src="/javascripts/controllers/headerController.js"></script>
      <script src="/javascripts/directives/cardView.js"></script>
    <!--   MODULES -->
   <!--    SERVICES -->
   <!--    DIRECTIVES -->
      </div>
    </body>
</html>
